label, input, textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    }
form{
    width:30em;
}
.form-control {
    margin-bottom: 1em;
    }
.form-control input, 
.form-control textarea {
    padding: 0.5em;  /* More space inside the boxes */
}