
.link-sections{
    display:flex;
    padding: 10px;
}

.link-sections-image{
    width:22%;
    height: 300px;
    margin:auto;
    padding:10px;
    transition: height 2s;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius:0.5em;
   
}
.link-sections-image:hover{
   
    height: 400px;
   
}